RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"

# ----------------------------------------------------------
# 🔹 Default Redirects
# ----------------------------------------------------------
# Redirect / to index.html
RewriteRule ^$ index.html [L,NC]

RewriteRule ^home$ index.html [L,NC]
RewriteRule ^about-us$ about.html [L,NC]
RewriteRule ^products$ product.html [L,NC]
RewriteRule ^industries$ industries.html [L,NC]
RewriteRule ^services$ services.html [L,NC]
RewriteRule ^contact$ contact.html [L,NC]
RewriteRule ^blog$ blog.html [L,NC]
RewriteRule ^sitemap$ Sitemap.html [L,NC]
RewriteRule ^privacy-policy$ privacy-policy.html [L,NC]
RewriteRule ^terms-of-use$ terms-of-use.html [L,NC]

# Products
RewriteRule ^products/ceramic-fiber$ ceramic-fiber.html [L,NC]
RewriteRule ^products/ceramic-fiber-blanket$ ceramic-fiber-blanket.html [L,NC]
RewriteRule ^products/ceramic-boards$ ceramic-boards.html [L,NC]
RewriteRule ^products/ceramic-bulk-fiber$ ceramic-bulk-fiber.html [L,NC]
RewriteRule ^products/ceramic-microporous-insulation$ ceramic-microporous-insulation.html [L,NC]
RewriteRule ^products/ceramic-modules$ ceramic-modules.html [L,NC]
RewriteRule ^products/ceramic-papers-felts$ ceramic-papers-felts.html [L,NC]
RewriteRule ^products/ceramic-textiles$ ceramic-textiles.html [L,NC]
RewriteRule ^products/hard-refractory-brick$ hard-refractory-brick.html [L,NC]
RewriteRule ^products/specialty-miscellaneous$ specialty-miscellaneous.html [L,NC]

# Services
RewriteRule ^services/custom-gaskets$ custom-gaskets.html [L,NC]
RewriteRule ^services/furnace-doors$ furnace-doors.html [L,NC]
RewriteRule ^services/vacuum-formed-shapes$ vacuum-formed-shapes.html [L,NC]
RewriteRule ^services/coatings$ coatings.html [L,NC]

# ----------------------------------------------------------
# 🔹 SEO / 404 Handling
# ----------------------------------------------------------
ErrorDocument 404 /404.html
