RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"

# ----------------------------------------------------------
# 🔹 Default Redirects
# ----------------------------------------------------------
# Redirect / to index.php
RewriteRule ^$ index.php [L,NC]
RewriteRule ^home(\.php)?$ index.php [L,NC]

RewriteRule ^about-us$ about.php [L,NC]
RewriteRule ^products$ product.php [L,NC]
RewriteRule ^industries$ industries.php [L,NC]
RewriteRule ^services$ services.php [L,NC]
RewriteRule ^contact$ contact.php [L,NC]
RewriteRule ^blog$ blog.php [L,NC]
RewriteRule ^project-management$ project-management.php [L,NC]
RewriteRule ^sitemap$ Sitemap.html [L,NC]
RewriteRule ^privacy-policy$ privacy-policy.html [L,NC]
RewriteRule ^terms-of-use$ terms-of-use.html [L,NC]

# Products
RewriteRule ^products/ceramic-fiber$ ceramic-fiber.php [L,NC]
RewriteRule ^products/ceramic-fiber-blanket$ ceramic-fiber-blanket.php [L,NC]
RewriteRule ^products/ceramic-boards$ ceramic-boards.php [L,NC]
RewriteRule ^products/ceramic-bulk-fiber$ ceramic-bulk-fiber.php [L,NC]
RewriteRule ^products/ceramic-microporous-insulation$ ceramic-microporous-insulation.php [L,NC]
RewriteRule ^products/ceramic-modules$ ceramic-modules.php [L,NC]
RewriteRule ^products/ceramic-papers-felts$ ceramic-papers-felts.php [L,NC]
RewriteRule ^products/ceramic-textiles$ ceramic-textiles.php [L,NC]
RewriteRule ^products/hard-refractory-brick$ hard-refractory-brick.php [L,NC]
RewriteRule ^products/specialty-miscellaneous$ specialty-miscellaneous.php [L,NC]

# Services
RewriteRule ^services/custom-gaskets$ custom-gaskets.php [L,NC]
RewriteRule ^services/furnace-doors$ furnace-doors.php [L,NC]
RewriteRule ^services/machined-parts$ machined-parts.php [L,NC]
RewriteRule ^services/vacuum-formed-shapes$ vacuum-formed-shapes.php [L,NC]
RewriteRule ^services/coatings$ coatings.php [L,NC]

# ----------------------------------------------------------
# 🔹 SEO / 404 Handling
# ----------------------------------------------------------
ErrorDocument 404 /error.html
